<div class="container">
  <h1>Edit article</h1>

  <%= render "form", article: @article %>

  <div class="multi-links">
    <%= link_to(article_path(@article), class: "link-back") do %>
      <i class="fa-regular fa-file-lines"></i> Show
    <% end %>

    <span id="divider">|</span>

    <%= link_to(articles_path, class: "link-back") do %>
      <i class="fa-regular fa-circle-left"></i> Back
    <% end %>
  </div>
</div>
