<div class="container">
  <% if flash.any? %>
    <div class="alert alert-info"><%= flash.notice %></div>
  <% end %>

  <% @articles.each do |article| %>
    <div class="card-article">
      <%= link_to(article_path(article)) do %>
        <h3><%= article.title %></h3>
      <% end %>
      <p><%= article.content[0, 120] %> ...</p>
    </div>
  <% end %>
</div>
