@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 32px;
}

h2, h3 {
  font-family: "Crete Round", serif;
}

h2 {
  font-size: 36px;
  margin: 0;
}

h3 {
  color: #4A8AD4;
  padding-top: 15px;
  font-size: 30px;
}

a {
  text-decoration: none;
}

form {
  margin: 25px auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #F6F6F6;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
}

.navbar > a {
  color: #585858;
}

.link-home {
  font-weight: bold;
  font-family: "Crete Round", serif;
  font-size: 20px;
}

.container {
  width: 750px;
  margin: 20px auto;
}

.card-article > p {
  font-weight: 300;
  font-size: 15px;
}

.text-article {
  opacity: 0.8;
  margin: 25px auto;
}

.header-article {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 12px;
  margin-right: -5px;
  font-size: 20px;
  color: #3679C6;
}

.link-back {
  display: block;
  text-align: right;
  color: #3679C6;
}

.multi-links {
  display: flex;
  justify-content: flex-end;
}

#divider {
  padding: 0 8px;
}

.alert-info {
  padding: 12px 16px;
  background-color: #E2F1FF;
  font-size: 14px;
  border-color: #9CC8F5;
}
